<body>
 <div class="maincontainer">
   <div class="animated slideInDown delay-2s" id="nav">
        <h2>Home</h2>
        <h2>About</h2>
        <h2>Contact</h2>
   </div>

   <div class="title">
     <h1>A Depth In Designing Buttons</h1>
   </div>

   <div class="butts">
     <button class="animated slideInDown delay-2s" class="btn1">Click Me1!</button>
     <button class="animated slideInDown delay-2s" class="btn2">Click Me1!</button>
     <button class="animated slideInDown delay-2s" class="btn3" >Click Me1!</button>
   </div>
 </div>
</body>

